.form {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 9px;
  margin-inline-end: 15px;
 }

.form label {
  color:rgb(46, 18, 2);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 2px rgba(233, 220, 151, 0.99);
}
 
 .form button {
  font-size: 14px;
  color:rgb(61, 40, 12);
  background-color: rgb(214, 180, 135);
  font-weight: bold;
  border-radius: 0.5rem;
  margin-inline-end: 1rem;
  inline-size: 6rem;
  block-size: 28px;
}
.form button:hover {
  transform: scale(1.2);
  cursor: pointer;
}