body {
  margin: 0;
  background-color: rgb(54, 113, 231);
  font-family: Consolas, monaco, monospace;
  padding:10px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  object-fit: cover;
  z-index: -1;
}

body video {
  pointer-events: none;
}
