 
 .contentDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  
 }
 .detail {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 3rem;
  align-items: center;
  inline-size: 70rem;
  block-size: 30rem;
 
 }
 .contentMap {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  backdrop-filter: blur(8px);
  /* box-shadow: inset 0 0 10px #b4a906;
   */
   border: 1px solid #b4a906;
  
 }
 .contentMap img {
  inline-size: 30rem;
  block-size: 25rem;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: all 0.5s;
  
 }
 .contentMap img:hover {
  transform: rotateY(180deg);
  }

 .dataMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
 
 }
 .dataMap p {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(12, 140, 87);
  font-weight: bold;
  filter: brightness(1.4);
  text-shadow: 2px 1px 2px rgba(3, 38, 7, 0.965);
  
 }
 .dataMap h1 {
  font-size: 37px;
  text-shadow: 3px 3px 3px rgba(134, 214, 143, 0.8);
  margin-bottom: 1rem ;
}
 .dataMap h3 {
  color: rgb(234, 148, 34);
  font-size: 1.3rem;
  text-shadow: 4px 7px 4px rgba(0, 0, 0, 1);
 }
 .contentBtn {
  display: flex;
  justify-content: end;
  inline-size: 70rem;
  }
 
 .contentBtn button {
  font-size: 15px;
  color:rgb(12, 7, 0);
  font-weight: bold;
  border-radius: 0.5rem;
  inline-size: 7rem;
  block-size: 2.5rem;
  background-color: rgb(221, 189, 148);

}
.contentBtn button:hover {
  transform: scale(1.1);
  background-color: rgb(10, 87, 61);
  color: rgb(203, 236, 219);
  cursor: pointer;
}