

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
  border: 1px solid green;
  inline-size: 100vw;
  block-size: 85vh;
  
}

.button button {
  font-size: 15px;
  color:rgba(3, 4, 71);
  font-weight: bold;
}
.button button:hover {
  transform: scale(1.2);
  
}