.landing {
  display: flex;
  flex-direction: column;
  padding-block-start: 2rem;
  margin-inline-start: 2rem;
  margin-block-start: 2rem;
  gap: 2rem;
 }

.landing h1{
 font-size: 65px;
 color: rgb(70, 8, 129);
 margin-block-end: 2rem;
 margin-block-start: 2rem;
 text-shadow: 5px 8px 5px rgba(95, 80, 182, 0.8);
}
.contentP h2 {
display: flex;
justify-content: center;
align-items: center;
margin-block-start: 0;
inline-size: 42rem;
block-size: 24rem;
border-radius: 0.5rem;
color: rgb(7, 42, 5);
filter: brightness(1.4) contrast(1.1);
line-height: 1.5;
font-size: 25px;

}
.contentNav {
  display: flex;
  inline-size: 50vw;
  block-size: 5rem;
  justify-content: center;
  align-items: center;
  margin-block-start: 2rem;
   
}
.contentNav button {
  font-size: 19px;
  color:rgb(12, 7, 0);
  font-weight: bold;
  border-radius: 0.5rem;
  margin-inline-end: 1rem;
  inline-size: 7.5rem;
  block-size: 2.5rem;
  background-color: rgb(214, 180, 135);

}
.contentNav button:hover {
  transform: scale(1.1);
  background-color: rgb(10, 87, 61);
  color: rgb(203, 236, 219);
  cursor: pointer;
}
.contImgH2{
  display: flex;
  justify-content: left;
  align-items: center;
  inline-size: 50vw;
  block-size: 40vh;
  margin-inline-start: 1rem;
  backdrop-filter: blur(7px);
 }
