.content {
  display: flex;
  justify-content: center;
  inline-size: 100vw;
  block-size: 7vh;
  backdrop-filter: blur(8px);
  background-color: rgba(228, 234, 41, 0.22);
     
}

.navContent{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  inline-size: 95vw;
  block-size: 5vh;
  margin-top: 0.6rem;
  
}

.homeForm {
  /* color: rgb(64, 120, 12); */
  font-weight: bold;
  font-size: 21px;
  text-shadow: 2px 2px 2px rgb(112, 188, 41);
}
.homeForm:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.homeLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  block-size: 1.7rem;
  inline-size: 20rem;
  
}
