
.search {
  display: flex;
 
}
.search input {
  inline-size: 11.25rem;
  block-size: 2rem;
  border: 1px solid #057b17;
  border-radius: 7px 0px 0px 7px;
  box-shadow: inset 0 0 10px #7fe5ab;
  outline: none;
  padding-left: 1rem;
}

.search button {
  inline-size: 5rem;
  block-size: 1.8rem;
  border: 1px solid #2b03ae;
  font-size: 17px;
  font-weight: bold;
}
.search button:hover {
  cursor: pointer;
}